{% extends "base.njk" %}

{% block toc %}
    <aside class="toc">
        {{ content | toc( wrapper='nav', wrapperClass='toc', headingText='On This Page:') | safe }}
    </aside>

    <aside class="toc">
        <h2>{{ parent }}
            {# {% for post in collections[tags] %}
                {% if post.data.chapter == 'yes' %}
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                {% endif %}
            {% endfor %} #}
        </h2>
        <nav class="toc">
            {% include "partials/toc.njk" %}
        </nav>
    </aside>

{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
        {% if byline %}
            <h2 class="author">written by {% byline credits, byline %}</h2>
        {% endif %}
        {% if artist %}
            <h2 class="artist">illustrated by {% byline credits, artist %}</h2>
        {% endif %}
        
    {% if art %}{% image art, arttext, "narrow" %}{% endif %}

    {{ content | safe }}

{% endblock %}