{% extends "chapter.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    
    {% if art %}{% image art, arttext, "hero" %}{% endif %}
        {% if byline and artist %}
            {% if byline == artist %}
                <h2 class="author">written and illustrated by {% byline credits, byline %}</h2>
            {% else %}
                <h2 class="author">written by {% byline credits, byline %}</h2>
                <h2 class="artist">illustrated by {% byline credits, artist %}</h2>
            {% endif %}
        {% else %}
            {% if byline %}
                <h2 class="author">written by {% byline credits, byline %}</h2>
            {% endif %}
            {% if artist %}
                <h2 class="artist">illustrated by {% byline credits, artist %}</h2>
            {% endif %}
        {% endif %}

{{ content | safe }}
{% endblock %}