
<aside class="breadcrumb">
<p>
{{ collections.all | eleventyNavigationBreadcrumb(title) | eleventyNavigationToHtml({
    listElement: "ul",
    listItemElement: "li",
    listClass: "breadcrumb"
}) | safe }} | <span class="current">{{ title }}</span>
</p></aside>